.user-card {
  @include flex(row, flex-start, flex-start);
  //@include border(1px, solid, $periwinkle-light , 0);
  width: 327px;
  height: 208px;
  padding: $xl;
  gap: $md;
  border-radius: $r-lg;

  background: $ghost;

  &__image {
    width: 97px;
    height: 97px;
    flex-shrink: 0;
    border-radius: $r-xl;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }

  &__info {

    gap: $md;

    &__details {
      padding-top: $lg;
      gap: $xs;

      &__name {
        color: $midnight-express;
        font-size: $fs-lg;
        font-family: $second-font;
        font-style: normal;
        font-weight: $font-black;
        line-height: normal;
      }

      &__description {
        color: $midnight-express;
        font-size: $fs-sm;
        font-family: $first-font;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}
